<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de Familia</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th {
            border: 10px solid #ddd;
            padding: 4px;
            text-align: center;
            background-color: #b533ff;
        }
        td {
            border: 8px solid #ddd;
            padding: 1px;
            text-align: left;
            background-color: #f30505;
        }
    </style>
</head>
<body>
    <header>
        <h1>Tabla de Familia</h1>
    </header>
    <main>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Familia</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Óscar Heras Bachiller</td>
                    <td>Padre</td>
                </tr>
                <tr>
                    <td>Elena López Muñoz</td>
                    <td>Madre</td>
                </tr>
                <tr>
                    <td>Nerea Heras López</td>
                    <td>Hija</td>
                </tr>
                <tr>
                    <td>Sergio Heras López</td>
                    <td>Hijo</td>
                </tr>
            </tbody>
        </table>
        <br></br>
        <a href="../index.html" class="btn-volver">Volver atrás</a>
        <br></br>
    </main>
    <footer>
        <p>© 2024 Mi Sitio Web</p>
    </footer>
</body>
</html>
