<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Página Web</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <!-- Menú a la izquierda -->    
        <nav class="sidebar">
            <ul>
                <li>
                    <!-- Enlace del primer elemento, es un enlace real y abrirá la página tabla.html -->
                    <a class="toggle-menu">Currículum Vitae</a>
                    <!-- Submenú -->
                    <ul class="submenu">
                        <li><a href="cv_index_cv_spanish.html" target="_blank">Español</a></li>
                        <li><a href="cv_index_cv_english.html" target="_blank">English</a></li>
                    </ul>
                </li>
                <!-- Enlaces normales -->
                <li><a href="family_index.html">Familia</a></li>
                <li><a href="coins_index.html">Colección de monedas</a></li>
                <li><a href="electrical_market_index.html">Ver precios PMD OMIE</a></li>
                <!--<li>
                    <form id="downloadForm" action="/download" method="post">
                        <button type="submit">Descarga precios PMD OMIE</button>
                    </form>
                </li>-->
            </ul>
        </nav>

        <!-- Contenido principal de la página -->
        <div class="content">
            <header>
                <h1>Bienvenido a Mi Página Web</h1>
            </header>
            <main>
                <p><b>Óscar Heras Bachiller</b>
                    <br>
                    <br>
                    <a>La brújula de mi vida</a>
                </p>
            </main>
            <footer>
                <p>© 2024 Mi Página Web</p>
            </footer>
        </div>
    </div>  

    <!-- Enlace al archivo JavaScript externo -->
    <script src="script.js"></script>
</body>
</html>
