<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Página Web</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <!-- left menu -->    
        <nav class="sidebar">
            <ul>
                <li>
                    <a class="toggle-menu">Currículum Vitae</a>
                    <!-- Submenú -->
                    <ul class="submenu">
                        <li><a href="{{ url_for('cv_index_spanish') }}" target="_blank">Español</a></li>
                        <li><a href="{{ url_for('cv_index_english') }}" target="_blank">English</a></li>
                    </ul>
                </li>
                <li><a href="{{ url_for('coins_index') }}">Colección de monedas</a></li>
                <li><a href="{{ url_for('electrical_market_index') }}">Mercado eléctrico</a></li>
            </ul>
        </nav>

        <!-- Main content -->
        <div class="content">
            <header>
                <h1>Bienvenido a Mi Página Web</h1>
            </header>
            <main>
                <p><b>La brújula de mi vida</b>
                    <img src="{{ url_for('static', filename='complements/file.png') }}" alt="Inicio" class="center-image">
                </p>
            </main>
            <footer>
                <p>© 2024 Mi Página Web</p>
            </footer>
        </div>
    </div>  

    <!-- Link to extern JavaScript -->
    <script src="script.js"></script>
</body>
</html>
